/* Netral Colors Background Dark Mode */
.ci-bg-black {
    background-color: $theme-Black-BackgroundDefault;
}
.ci-bg-white {
    background-color: $theme-White-BackgroundDefault;
}

.ci-bg-primary {
    background-color: #151933;
}

.ci-bg-secondary {
    background-color: #2C355A;
}

.ci-bg-gold {
    background-color: $theme-GoldBase-BackgroundDefault;
}

.ci-bg-danger {
    background-color: #ED4C5C;
}

.ci-bg-warning {
    background-color: #F9BD00;
}

.ci-bg-info {
    background-color: #00A2E0;
}

.ci-bg-success {
    background-color: #1BA27A;
}

.ci-bg-gray {
    background-color: #CBCBCB;
}


.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 30px solid #17a2b8;
    border-bottom: 30px solid #17a2b8;
    border-left: 30px solid #dfb332;
}
.arrow-right2 {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid  #17a2b8;
}

.active-price {
    background-color: #17a2b8;
}

/* Theme Colors Background Dark Mode */