/* Netral Colors Background Dark Mode */
.ci-bg-black {
  background-color: $theme-Black-BackgroundDefault;
}
.ci-bg-white {
  background-color: $theme-White-BackgroundDefault;
}

.ci-bg-primary {
  background-color: #151933;
}

.ci-bg-secondary {
  background-color: #2c355a;
}

.ci-bg-gold {
  background-color: $theme-GoldBase-BackgroundDefault;
}

.ci-bg-danger {
  background-color: #ed4c5c;
}

.ci-bg-warning {
  background-color: #f9bd00;
}

.ci-bg-info {
  background-color: #00a2e0;
}

.ci-bg-success {
  background-color: #1ba27a;
}

.ci-bg-gray {
  background-color: #cbcbcb;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 30px solid #17a2b8;
  border-bottom: 30px solid #17a2b8;
  border-left: 30px solid #dfb332;
}
.arrow-right2 {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #17a2b8;
}

.active-price {
  background-color: #17a2b8;
}

/* Theme Colors Background Dark Mode */

.bg-dd-homepage {
  background: rgba(28, 34, 48, 0.85);
  width: 750px;
}

@media (min-width: 1367px) {
  .bg-dd-homepage {
    width: 1200px;
  }
}
