.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-bold {
  font-weight: bold;
}

.font-bolder {
  font-weight: 700;
}

.font-bolder2 {
  font-weight: 500;
}

.font-bolder25 {
  font-weight: 400;
}

.font-bolder3 {
  font-weight: 300;
}

.style-alpha {
  list-style-type: lower-alpha;
}
