/* Netral Colors Text Dark Mode*/
.ci-text-white {
  color: white;
}
.ci-text-black {
  color: black;
}

.text-gold {
  color: #f9ba42;
}

.text-gray2 {
  color: #c1c1c1;
}

.text-ci-primary {
  color: #424766;
}

.text-https {
  color: #0ecb81;
}

.text-lg-footer {
  color: #b2b2b2;
}

.ci-text-up {
  color :#00FF19;
}

.ci-text-down {
  color: #ED4C5C;
}

.text-grad-gold {
  background: #F9BD00;
  background: -webkit-linear-gradient(to right, #F9BD00 0%, #CFAC21 100%);
  background: -moz-linear-gradient(to right, #F9BD00 0%, #CFAC21 100%);
  background: linear-gradient(to right, #F9BD00 0%, #CFAC21 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Theme Colors Text Dark Mode*/
