/* Auth Layout */
.ci-p-right-0 {
  right: 0px;
}
.ci-p-right-100rem {
  right: 1rem;
}
.ci-p-left-100rem {
  left: 1rem;
}
/* End Auth Layout */

/* Vertical Align */
.ci-verti-align-middle {
  vertical-align: middle !important;
}
/* End Vertical Align */

/* Width Layout */
.ci-layoutW-responsive {
  width: 60%;
}
@media only screen and (max-width: 991.98px) {
  .ci-layoutW-responsive {
    width: 100%;
  }
}

//
.br-5 {
  border-radius: 5px;
}

//
.col-sm.first,
.col-sm-third,
.col-sm-second {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-sm.first,
  .col-sm-third,
  .col-sm-second {
    float: left;
  }
  .col-sm-first {
    width: 20%;
  }
  .col-sm-second {
    width: 58%;
  }
  .col-sm-third {
    width: 22%;
  }
}

.card-body-dd-homepage {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.dd-homepage {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.dd-homepage:hover {
  padding: 0.7rem;
  background-color: rgb(185, 185, 185);
  border-radius: 5px;
}
