.bannersyaratdanketentuan {
  height: 280px;
  background-image: url(../../assets/img/footercomponents/banner_archidax/Frame1.png);
  background-size: cover;
  background-position: center;
}

.bannerkebijakanprivasi {
  height: 280px;
  background-image: url(../../assets/img/footercomponents/banner_archidax/Frame2.png);
  background-size: cover;
  background-position: center;
}

.perjanjianpengguna {
  height: 280px;
  background-image: url(../../assets/img/footercomponents/banner_archidax/Frame3.png);
  background-size: cover;
  background-position: center;
}

.feesbanners {
  height: 280px;
  background-image: url(../../assets/img/footercomponents/banner_archidax/Frame4.png);
  background-size: cover;
  background-position: center;
}

.belikriptos {
  background: $theme-BlueDarkPrimaryBase-BackgroundDefault;
  font-style: normal;
  .belikripto {
    background: url(../../assets/img/footercomponents/banner_archidax/Frame5.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    border-radius: 0;
    padding: 6rem 2rem;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    // background-size: cover;
    // background-repeat: no-repeat;
    h1 {
      font-size: 32px;
      line-height: 40px;
    }
    p {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.lendmark{
  background: $theme-BlueDarkPrimaryBase-BackgroundDefault;
  font-style: normal;
  .lendmark-jumbotron {
    background: url(../../assets/img/footercomponents/banner_archidax/Frame5.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    border-radius: 0;
    padding: 6rem 2rem;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    // background-size: cover;
    // background-repeat: no-repeat;
    h1 {
      font-size: 32px;
      line-height: 40px;
    }
    
  }
}