.kenapa-hover1:hover {
  background-color: black !important;
}

@media (min-width: 750px) {
  .homepage-kenapa-responsive {
    clip-path: polygon(
      100% 0,
      100% 85%,
      60% 85%,
      50% 100%,
      40% 85%,
      0 85%,
      0 0
    );
  }
}

@media (min-width: 1024px) {
  .homepage-kenapa-responsive {
    clip-path: polygon(
      100% 0,
      100% 85%,
      60% 85%,
      50% 100%,
      40% 85%,
      0 85%,
      0 0
    );
  }
}
