  .modal-bounty {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999999;

}

.modal-inner-bounty {
  padding: 22px;
  border-radius: 8px;
  color: white;
}

.close-btn {
  cursor: pointer;
}

.twitter {
  background-image: url(../../assets/img/bounty/popup/bg-popuptwitter.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.facebook {
  background-image: url(../../assets/img/bounty/popup/bg-popupfacebook.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.telegram {
  background-image: url(../../assets/img/bounty/popup/bg-popuptelegram.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.translations {
  background-image: url(../../assets/img/bounty/popup/bg-popuptranslations.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.contentblog {
  background-image: url(../../assets/img/bounty/popup/bg-popupcontentblog.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 100px;
  bottom: 200px;
}
.youtube {
  background-image: url(../../assets/img/bounty/popup/bg-popupyoutube.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.tiktok {
  background-image: url(../../assets/img/bounty/popup/bg-popuptiktok.png);
  background-size: cover;
  background-repeat: no-repeat;
}
