.modal-ubah-password{
  background: #151933;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.modal-body-custom{
  margin-left: 2vw;
  margin-right: 2vw;
}

.modal-header-custom{
  border-bottom: none;
}

.modal-header-berhasil-custom{
  background-color: #F9BD00;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vh;
}

.warning-ubah-password{
  background-color: #F9BD00;
  border-radius: 2px;
  color: #000000;
  padding: 1vh 0 1vh 0;
  margin-bottom: 5vh;
}

.modal-body-custom h1{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 3vh;
}

.message-berhasil{
  color:#F9BD00;
  font-style: normal;
  font-weight: bold;
  font-size: 12px !important;
  line-height: 14px !important;
  padding: 5vh;
}

.modal-body-custom p{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.modal-title-custom{
  text-align: center;
  width:95%;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
}

.text-warning-custom{
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000 !important;
}

.label-input{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.form-input{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2C355A;
  box-sizing: border-box;
  border-radius: 0%;
}

.icon-eye{
  margin-right: 1vw;
  cursor: pointer;
}

.button-kirim{
  margin-left: 1vw;
}

@media (max-width: 575.98px) { 
  .button-otp{
    margin-top: 10px;
  }
}
