.box-feature-hp {
  background-color: #171b24;
  min-height: 200px;
  border-radius: 5px;
  cursor: pointer;
}

.box-feature-hp:hover {
  transform: scale(1.07);
}

.margin-feature-hp {
  padding-top: 70px;
  padding-bottom: 20px;
}
