.bg-homepage {
  background-color: #0b0c22;
}

.bg-header-homepage {
  box-shadow: 0px 0px 24px #151933 !important;
  background-color: #151933 !important;
}

.bg-header-homepage2 {
  // box-shadow: 0px 0px 24px #151933 !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.bg-homepage2 {
  background-color: #151933;
}

.bg-homepage-banner {
  background-image: url(../../assets/img/background/ba_archidax.png);
  background-size: cover;
}

.bg-homepage-banner2 {
  background-image: url(../../assets/img/gif/cewe.gif);
  background-size: cover;
}

.bg-homepage-yellow {
  background-color: #dfb331;
}

.bg-homepage-yellow2 {
  background-color: #faff1d;
}

.bg-homepage-gray {
  background-color: #aeb4ce;
}

.bg-kenapa2 {
  background-image: url(../../assets/img/homepage/kenapa/BG0.png);
  background-size: cover;
}

.text-homepage-yellow {
  color: #dfb331;
}

.text-homepage-yellow2 {
  color: #faff1d;
}

.min-h-100 {
  min-height: 100vh;
}
.min-h-90 {
  min-height: 90vh;
}
.min-h-80 {
  min-height: 80vh;
}
.min-h-70 {
  min-height: 70vh;
}
.min-h-65 {
  min-height: 62vh;
}
.min-h-60 {
  min-height: 60vh;
}
.min-h-50 {
  min-height: 50vh;
}
.min-h-40 {
  min-height: 40vh;
}
.min-h-30 {
  min-height: 30vh;
}
.min-h-20 {
  min-height: 20vh;
}
.min-h-10 {
  min-height: 10vh;
}

// .card-homepage {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-column-gap: 10px;
// }

// .card-homepage-news {
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   grid-column-gap: 25px;
// }
// @media only screen and (max-width: 600px){
//   .card-homepage-news {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     grid-column-gap: 25px;
//   }
// }

.text-homepage-p {
  color: #c2c2c2;
}

.bg-kenapa {
  background-color: #aeb4ce;
}

.bg-kenapa:hover {
  //   background-color: #dfb331;
  background-image: url(../../assets/img/background/yellow-baloon.png);
  background-size: cover;
}

.bg-apa-itu {
  background-image: url(../../assets/img/homepage/apaitu/apaitu_bg.png);
  // background-repeat: no-repeat;
  // background-size: auto;
}

.bg-overlay-homepage {
  background: rgba(0, 0, 0, 0.6);
}

.bg-overlay-homepage2 {
  background: rgba(0, 0, 0, 0.4);
}

// Banner

//

.btn-daftar {
  background-color: #dfb331;
  border: 1px solid #dfb331;
  color: black;
  border-radius: 5px;
}
.btn-daftar:hover {
  text-decoration: none;
  background: black;
  color: white;
}
.btn-masuk {
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}
.btn-masuk:hover {
  text-decoration: none;
  background-color: #0b0c22;
  color: white;
}

// Tabs
// Global
.tabs-homepage-price {
  .nav .nav-item .nav-link {
    background: transparent;
    // background-color: yellow;
    color: #e5e5e5;
  }

  .nav .nav-item .nav-link.active {
    color: #fff;
    background: transparent;
  }
}

// Table Homepage

/* This is what we are focused on */

.outter-table-wrapper {
  background-color: #050611;
}
.table-wrapper {
  overflow-y: scroll;
  height: 380px;
}

.table-wrapper th {
  position: sticky;
  top: 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.table-wrapper tr th {
  padding-bottom: 15px;
}

#homepage-table tr:hover {
  background-color: #1d2244;
}

/* A bit more styling to make it look better */
.table-wrapper {
  background: #050611;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    background: #050611;
  }

  td,
  th {
    padding: 10px;
    text-align: center;
  }
}

//

.tb-border-bottom {
  border-bottom: 3px none rgba(255, 255, 255, 0.4);
}

.tb-border-bottom2 {
  border-bottom: 4px solid rgba(21, 25, 51, 0.6);
}

.table-center {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.price-green {
  color: #00cc14;
  text-align: left;
}

.price-red {
  color: #ff1900;
  text-align: left;
}

// Hoverable Kenapa
.price-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

// cursor pointer
.cursor-pointer {
  cursor: pointer;
}

// focus none
.focus-none:focus {
  outline: 0 !important;
}

// relative div
.relative-div {
  display: flex;
  flex-direction: row;
  position: relative;
}

.absolute-right {
  position: absolute;
  right: 0px;
}

// Media Query Homepage

// Margin
.mb-hp-r {
  padding-bottom: 5px;
}

@media (min-width: 750px) {
  .mb-hp-r {
    padding-bottom: 70px;
  }
}

@media (min-width: 1024px) {
  .mb-hp-r {
    padding-bottom: 70px;
  }
}

.mt-hp-r {
  padding-top: 5px;
}

@media (min-width: 750px) {
  .mt-hp-r {
    padding-top: 70px;
  }
}

@media (min-width: 1024px) {
  .mt-hp-r {
    padding-top: 70px;
  }
}

// HeaderLogo
.navbar-homepage-responsive {
  display: none;
}

@media (min-width: 750px) {
  .navbar-homepage-responsive {
    display: block;
  }
}

@media (min-width: 1024px) {
  .navbar-homepage-responsive {
    display: block;
  }
}

// // Banner Padding Top
// .banner-padding-responsive {
//   padding-top: 2vh;
// }

@media (min-width: 750px) {
  .banner-padding-responsive {
    padding-top: 9vh;
  }
}

@media (min-width: 1024px) {
  .banner-padding-responsive {
    padding-top: 9vh;
  }
}

// Font Title
.font-50-reponsive {
  font-size: 28px;
  text-align: center;
}

@media (min-width: 750px) {
  .font-50-reponsive {
    font-size: 55px;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .font-50-reponsive {
    font-size: 50px;
    text-align: left;
  }
}

.font-22-reponsive {
  font-size: 22px;
  text-align: center;
}

@media (min-width: 750px) {
  .font-22-reponsive {
    font-size: 22px;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .font-22-reponsive {
    font-size: 50px;
    text-align: left;
  }
}

.font-miliki {
  font-size: 14px;
  text-align: center;
}

@media (min-width: 750px) {
  .font-miliki {
    font-size: 22px;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .font-miliki {
    font-size: 22px;
    text-align: left;
  }
}

// Bapepti
.image-bapepti-height {
  height: 35px;
}

@media (min-width: 750px) {
  .image-bapepti-height {
    height: 75px;
  }
}

@media (min-width: 1024px) {
  .image-bapepti-height {
    height: 75px;
  }
}

// Apa itu CryptoIndex
.font-apa-itu-responsive {
  font-size: 22px;
}

@media (min-width: 750px) {
  .font-apa-itu-responsive {
    font-size: 34px;
  }
}

@media (min-width: 1024px) {
  .font-apa-itu-responsive {
    font-size: 34px;
  }
}

.font-apa-itu-responsive2 {
  font-size: 12px;
}

@media (min-width: 750px) {
  .font-apa-itu-responsive2 {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .font-apa-itu-responsive2 {
    font-size: 16px;
  }
}

// Font Calculator
.font-calculator {
  font-size: 14px;
}

@media (min-width: 750px) {
  .font-calculator {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .font-calculator {
    font-size: 16px;
  }
}

// btn-daftar
.btn-daftar-r {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

@media (min-width: 750px) {
  .btn-daftar-r {
    display: flex;
    justify-content: left;
    margin-bottom: 13px;
  }
}

@media (min-width: 1024px) {
  .btn-daftar-r {
    display: flex;
    justify-content: left;
    margin-bottom: 13px;
  }
}

// btn-masuk
.btn-masuk-r {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 750px) {
  .btn-masuk-r {
    display: flex;
    justify-content: left;
    margin-bottom: 13px;
  }
}

@media (min-width: 1024px) {
  .btn-masuk-r {
    display: flex;
    justify-content: left;
    margin-bottom: 13px;
  }
}

// display flex block
.display-f-b {
  display: block;
}

@media (min-width: 750px) {
  .display-f-b {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .display-f-b {
    display: flex;
  }
}

// display block none
.display-b-n {
  display: none;
}

@media (min-width: 750px) {
  .display-b-n {
    display: block;
  }
}

@media (min-width: 1024px) {
  .display-b-n {
    display: block;
  }
}

// display block none
.display-f-n {
  display: none;
}

@media (min-width: 750px) {
  .display-f-n {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .display-f-n {
    display: flex;
  }
}

// height banner
.min-h-65-r {
  min-height: 68vh;
  padding-top: 30px;
}

@media (min-width: 750px) {
  .min-h-65-r {
    min-height: 65vh;
    padding-top: 2vh;
  }
}

@media (min-width: 1024px) {
  .min-h-65-r {
    min-height: 55vh;
    padding-top: 2vh;
  }
}

// Kenapa Memilih
// Title Apa Itu Padding
.title-apa-itu-responsive {
  padding: 10px;
}

@media (min-width: 750px) {
  .title-apa-itu-responsive {
    min-height: 65vh;
    padding-top: 2vh;
  }
}

@media (min-width: 1024px) {
  .title-apa-itu-responsive {
    min-height: 65vh;
    padding-top: 2vh;
  }
}

// Kenapa margin
.margin-kenapa-card-responsive {
  margin: 10px;
}

@media (min-width: 750px) {
  .margin-kenapa-card-responsive {
    margin: 0px;
  }
}

@media (min-width: 1024px) {
  .margin-kenapa-card-responsive {
    margin: 0px;
  }
}

// Footer
// Footer-
.width-responsive-logo-footer {
  width: 90%;
}

@media (min-width: 750px) {
  .width-responsive-logo-footer {
    width: 180px;
  }
}

@media (min-width: 1024px) {
  .width-responsive-logo-footer {
    width: 180px;
  }
}

// Info News
.font-archidax {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.font-archidax2 {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.font-archidax3 {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.font-header2 {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #aeb4ce;
}

.font-price {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.make-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.make-center2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bg-archidax {
  background-color: rgb(11, 12, 34);
}

.bg-archidax2 {
  background-color: #151933;
}

.bg-archidax-gradient {
  background-image: radial-gradient(
    rgb(24, 38, 70),
    rgb(11, 14, 33),
    rgb(11, 12, 34)
  );
}

.bg-archidax-yellow {
  background-color: #e9d16f;
}

.font-14 {
  font-size: 14px;
}

.text-gold-archidax {
  color: rgb(231, 207, 109);
}

.text-gray-archidax {
  color: #aeb4ce;
}

.text-yellow-archidax {
  color: #bdaa16;
}

.text-buy {
  color: #1ecab8;
}

.text-sell {
  color: #f1646c;
}

// PRICE TABLE

.price-title {
  color: #e9d16f;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  vertical-align: middle !important;
}

.price-gold {
  color: #e9d16f;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  vertical-align: middle !important;
}

.price-up {
  color: #1ecab8;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  vertical-align: middle !important;
}

.price-down {
  color: #f1646c;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  vertical-align: middle !important;
}

.price-normal {
  color: #ffffff;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  vertical-align: middle !important;
}

.logo-db {
  height: 26px;
  margin-right: 10px;
}

.button-primary {
  color: white;
  background-color: #4d79f6;
  border: none;
  border-radius: 5px;
  padding: 3px 13px;
  margin: 0px 5px;
}

.button-danger {
  color: white;
  background-color: #f1646c;
  border: none;
  border-radius: 5px;
  padding: 3px 13px;
  margin: 0px 5px;
}

.button-estimated-dashboard {
  background: #e9d16f;
  padding: 5px 15px;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  position: absolute;
  right: 35px;
  bottom: 20px;
  border: none;
}

// INFO AND ANNOUNCEMENT

.announcement-homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.tabs-announcements-homepage {
  padding-left: 0px;
  padding-right: 0px;
  align-items: center;
}

.announcements-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bg-news1 {
  // background-image: url(../../assets/img/bnb.jpg);
  // background-size: cover;
}
.bg-news img {
  width: 100%;
  height: auto;
}

.bg-news2 {
  background-image: url(../../assets/img/waves.jpg);
  background-size: cover;
}

.bg-news3 {
  // background-image: url(../../assets/img/homepage/infonews/frame6.png);
  background-image: url(../../assets/img/homepage/announcements/bnb.jpg);
  background-size: cover;
}

.bg-news4 {
  // background-image: url(../../assets/img/homepage/infonews/frame7.png);
  background-image: url(../../assets/img/homepage/announcements/waves.jpg);
  background-size: cover;
}

// overflow
#overflowTest {
  width: 100%;
  height: 150px;
  overflow: auto;
}

#overflowTestChatTrade {
  width: 100%;
  height: 400px;
  overflow: auto;
}

// Tabs Chart
.tabs-info-news {
  .nav .nav-item .nav-link {
    // background: transparent;
    background-color: transparent;
    color: #fff;
    border-radius: 0px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
  }

  .nav .nav-item .nav-link.active {
    color: #f9ba42;
    // background: $base-color-tabs-mainchart-active;
    border-bottom: 1px solid rgba(249, 186, 66, 0.6);
    border-radius: 0px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
  }
}

#homepageVideo {
  position: fixed;
  top: 0vh;
  z-index: -1;
  // width: 2000px;
  // height: 800px;

  // -moz-transform: scale(1.4);
  // -webkit-transform: scale(1.4);
  // -o-transform: scale(1.4);
  // -ms-transform: scale(1.4);
  // transform: scale(1.4);
}

.content-home {
  // position: absolute;
  top: 100px;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  height: 56vh;
}

//
