.launchpad-banner {
    background-image: url('../../assets/img/background/launchpad-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.content-launchpad {
    min-height: 100vh;
}