// .bg-login {
//   background-image: url(../../assets/img/loginregister/bglogin.png);
//   background-size: cover;
// }

.bg-login {
  background-image: url(../../assets/img/loginregister/bglogin.jpg);
  background-size: cover;
}

.bg-register {
  background-image: url(../../assets/img/loginregister/bgregister.png);
  background-size: cover;
}
