.atr-resp {
  font-size: 12px;
}

@media (min-width: 1400px) {
  .atr-resp {
    font-size: 14px;
  }
}

.padding-price-trade {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 1400px) {
  .padding-price-trade {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.padding-price2-trade {
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 1400px) {
  .padding-price2-trade {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.font-14-tr {
  font-size: 13px;
}

@media (min-width: 1400px) {
  .font-14-tr {
    font-size: 14px;
  }
}

// Width

.width-trade {
  width: 96%;
  margin: auto;
}

@media (min-width: 1400px) {
  .width-trade {
    width: 90%;
    margin: auto;
  }
}

.width-trade2 {
  width: 95%;
  margin: auto;
}

// Height Listing News Chat
.height-listing {
  height: 275px;
}

@media (min-width: 1400px) {
  .height-listing {
    height: 370px;
  }
}

// price section

.price-title-trade {
  font-size: 18px;
}

@media (min-width: 1400px) {
  .price-title-trade {
    font-size: 22px;
  }
}

.price-title1-trade {
  font-size: 12px;
}

@media (min-width: 1400px) {
  .price-title1-trade {
    font-size: 16px;
  }
}

.price-title2-trade {
  font-size: 18px;
}

@media (min-width: 1400px) {
  .price-title2-trade {
    font-size: 24px;
  }
}

.price-title3-trade {
  font-size: 10px;
}

@media (min-width: 1400px) {
  .price-title3-trade {
    font-size: 12px;
  }
}

.width-image-trade {
  width: 10px;
}

@media (min-width: 1400px) {
  .width-image-trade {
    width: 14px;
  }
}

// Volume , High and Low

.vhl-title {
  font-size: 11px;
}

@media (min-width: 1400px) {
  .vhl-title {
    font-size: 15px;
  }
}

// Trade All Title
.trade-all-title {
  font-size: 11px;
}

@media (min-width: 1400px) {
  .vhl-title {
    font-size: 15px;
  }
}

// Live Market
.lmh-resp {
  height: 350px;
}

@media (min-width: 1400px) {
  .lmh-resp {
    height: 367px;
  }
}

// Limit - Market - TItle
.lmt-font {
  font-size: 12px;
}

@media (min-width: 1400px) {
  .lmt-font {
    font-size: 14px;
  }
}

// News - Responsive

.img-news-trade {
  height: 65px;
  width: 90px;
}

@media (min-width: 1400px) {
  .img-news-trade {
    height: 70px;
    width: 100px;
  }
}

.title-news-trade {
  font-size: 12px;
}

@media (min-width: 1400px) {
  .title-news-trade {
    font-size: 14px;
  }
}
.date-news-trade {
  font-size: 10px;
}

@media (min-width: 1400px) {
  .date-news-trade {
    font-size: 12px;
  }
}

// Chat Responsive
.hcr-inside {
  height: 261px;
}

@media (min-width: 1400px) {
  .hcr-inside {
    height: 362px;
  }
}

.hcr-outside {
  height: 263px;
}

@media (min-width: 1400px) {
  .hcr-outside {
    height: 364px;
  }
}
